body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.sidebar-button-container {
  display: flex;
  justify-content: space-between;
}

.mobile-btn {
  display: none;
}
@media screen and (max-width: 1020px) {
  .sidebar {
    z-index: 3;
    flex: 1;
  }

  .sticky-sidebar {
    top: 3.3em;
  }

  .mobile-btn {
    display: block;
  }
}

.my-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.4rem;
}

.main-content {
  flex: 1;
}

legend {
  text-align: center;
  margin-bottom: 0.2em;
  padding: 0 0.5em;
}

fieldset {
  border: none;
  border-top: 1px solid black;
}

input {
  margin: 0.3em;
}

@media screen and (max-width: 1020px) {
  .products {
    flex-direction: column;
  }
}

.card {
  margin: 0;
  max-width: none;
}
